# Dependency directories
node_modules
jspm_packages/

# Environment variables
.github/actions/eng-metrics/.env

# Service account key
.github/actions/eng-metrics/service-account-key.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Coverage directory used by tools like istanbul
coverage/

# nyc test coverage
.nyc_output

# Build output
dist/
build/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
